<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    {{#if user}}
    <link rel="stylesheet" href="./css/homePage.css">
    {{/if}}
    <link rel="stylesheet" href="./css/{{cssFile}}.css">
    <script type="module" src="./js/{{jsFile}}.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/gh/jitbit/HtmlSanitizer@master/HtmlSanitizer.js"></script>
</head>

<body>
<div class="preloader">
	<div class="preloader-box">
		<div>L</div>
		<div>O</div>
		<div>A</div>
		<div>D</div>
		<div>I</div>
		<div>N</div>
		<div>G</div>
	</div>
</div>
{{#if user}} 
  <div class="sidebar">
    <div class="logo-details">
        <div class="logo_name" style="color: rgb(158, 209, 19);">CRM tool {{user.isQualifiedCompany}}</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/home?login=1">
          <i class='bx bxs-home'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      {{#if ./admin}}
      <li class="admin">
       <a href="/manageUsers">
         <i class='bx bx-user-check'></i>
         <span class="links_name">User management</span>
       </a>
       <span class="tooltip">User management</span>
     </li>
     {{/if}}
     <li>
       <a href="/contact">
         <i class='bx bxs-contact'></i>
         <span class="links_name">Client contact list</span>
       </a>
       <span class="tooltip">Client contact list</span>
     </li>
     {{#if ./admin}}
     <li>
       <a href="/taskManagement">
         <i class='bx bx-book-content'></i>
         <span class="links_name">Tasks management</span>
       </a>
       <span class="tooltip">Tasks management</span>
     </li>
      {{/if}}
      <li>
       <a href="/userTasks">
         <i class='bx bx-task' ></i>
         <span class="links_name">Your tasks</span>
       </a>
       <span class="tooltip">Your tasks</span>
     </li>
     <li>
       <a href="/task">
         <i class='bx bx-shape-triangle'></i>
         <span class="links_name">Project timeline&#38;<br> CSV converter</span>
       </a>
       <span class="tooltip">Project timeline&#38;CSV converter</span>
     </li>
     {{!-- <li>
       <a href="#">
         <i class='bx bxs-calendar'></i>
         <span class="links_name">Reminder</span>
       </a>
       <span class="tooltip">Reminder</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-file' ></i>
         <span class="links_name">Documents</span>
       </a>
       <span class="tooltip">Documents</span>
     </li> --}}
     <li>
       <a href="/setting">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <div class="name_job">
             <div class="name">{{user.first_name}} &nbsp; &nbsp;{{user.last_name}}</div>
             <div class="job">{{user.jobTitle}}</div>
           </div>
         </div>
         <a href="/logout" ><i class='bx bx-log-out' id="log_out" ></i></a>
     </li>
    </ul>
  </div>
  <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
  </div>
  {{!-- <div class="content flex" >
    <p>Design and develop by BaiSong/Isaac Lin</p>
  </div> --}}
  <section class="home-section">
      {{{body}}}
  </section>
  <script>
    window.addEventListener("load",function(){
      document.querySelector(".preloader").style.display="none";
      function getCookie(cname) {
      const name = `${cname}=`;
      const decodedCookie = decodeURIComponent(document.cookie);
      const cookieArray = decodedCookie.split(";");
      for(let i = 0; i <cookieArray.length; i++) {
      let cookie = cookieArray[i].trim();
      if (cookie.indexOf(name) === 0) {
      return cookie.substring(name.length);
      }
    }
    return undefined;
  }
  let body=document.getElementsByTagName("body")[0];
  if(!getCookie("authToken")){
    body.style.display="none";
    location.replace("/");
  }
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  {{!-- searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  }); --}}

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
    })
  
  </script>
{{else}}
    {{{body}}}
{{/if}}

</body>

</html>