<div id="content-container">
    <div id="msg">
            {{#if message}}
            <h3>{{message}}</h3>
            {{/if}}
    </div>
    <div id="contact-bkg">
        <h1>Contact list </h1>
    </div>
    <div id="search-box">
         <input type="search" placeholder="Search..." name="search">
         <i class='bx bx-search' ></i>
         {{!-- <span class="tooltip">Search</span> --}}
    </div>
    <div id="buttons">
        <ul>
                <li><i class='bx bx-menu'></i></li>
                <li><button class="button">Export table as CSV</button></li>
                <li><button class="button">Import CSV file</button></li>
                <li><button class="button"></button></li>
                <li><button class="button"></button></li>
        </ul>
    </div>
    <div id="search-table">
            <p>No result found!</p>
    </div>
    
    <div id="add-form">
        <form action="contact/save" method="post" autocomplete="off" >
            <input type="password" hidden autocomplete="new-password">
            <div class = "txtfield">
                    <input type="text" name="first_name" id="first_name" required >
                
                    <label for="first_name">*First name:</label>
            </div>
            <div class = "txtfield">
                    <input type="text" name="last_name" id="last_name" required>
                    <span></span>
                    <label for="last_name">*Last name:</label>
            </div>
            <div class = "txtfield">
                    <input type="email" name="email" id="email" required>
                    <span></span>
                    <label for="email">*Email:</label>
            </div>
            <div class = "txtfield">
                    <input type="tel" name="phone_number" id="phone_number" >
                    <span></span>
                    <label for="phone_number">Phone number:</label>
            </div>
            <div class = "txtfield">
                    <input type="text" name="city" id="city" >
                    <span></span>
                    <label for="city">City:</label>
            </div>
            <div class = "txtfield">
                    <input type="text" name="country" id="country" required>
                    <span></span>
                    <label for="country">*Country:</label>
            </div>
            <div class = "txtfield">
                    <input type="text" name="profession" id="profession" required>
                    <span></span>
                    <label for="profession">*Profession/Industry:</label>
            </div>
            <div class = "txtfield">
                    <input type="text" name="website" id="website" >
                    <span></span>
                    <label for="website">Website:</label>
            </div>
            <div class = "txtfield">
                    <input type="text" name="social_media" id="social_media" >
                    <span></span>
                    <label for="social_media">Social media:</label>
            </div>
            <div class = "txtfield ">
                    <input type="text" name="meet_with" id="meet_with" >
                    <span></span>
                    <label for="meet_with">Meet with（employee):</label>
            </div>
            <div class = "txtfield ">
                    <input type="text" name="tag" id="tag" >
                    <span></span>
                    <label for="tag">Tag:</label>
            </div>
            <div class = "txtfield no">
                    <p>Notes on client</p>
                    <textarea name="notes_on_client" id="notes_on_client" ></textarea>
            </div>
            <div id="hint-msg">

            </div>
            {{!-- <input type="text" name="added_person" value="" hidden> --}}

            <div id = "sub-res">
                    <button type="submit" value = "submit" id="submitButton">Add client</button>
                    <button type="reset" value = "reset form" id="reset">Reset</button>
            </div>
        </form>
    </div>
    <div id="client-table">
            <div id="inner-table">
                {{#if realClients}}
                <table>
                        <thead>
                                <tr>
                                        <th>First name</th>
                                        <th>Last name</th> 
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Country</th>
                                        <th>City</th>
                                        <th>Profession</th>
                                        <th class="none-when-small-screen">Website</th>
                                        <th class="none-when-small-screen">Social medias</th>
                                        <th>Progress track</th>
                                        <th>Notes on client</th>
                                        <th>Meet with</th>
                                        <th class="tag">Tag</th>
                                        <th><i class='bx bx-grid-small'title="Select clients"></i><i class='bx bx-x-circle delete-selected-users' title="Delete selected clients"></i></th>
                                </tr>
                        </thead>
                        <tbody>
                               {{#each realClients}}
                            <tr data-clientID="{{this.id}}">
                               <td>{{this.first_name}}</td>
                               <td>{{this.last_name}}</td>
                               <td>{{this.email}}</td>
                               <td>{{this.phone_number}}</td>
                               <td>{{this.country}}</td>
                               <td>{{this.city}}</td>
                               <td>{{this.profession}}</td>
                               <td class="none-when-small-screen">{{this.website}}</td>
                               <td class="none-when-small-screen">{{this.social_media}}</td> 
                               <td class="not-editable" >
                                {{this.progress_status}}
                               </td>   
                               <td>{{this.notes_on_client}}</td>
                               <td>{{this.meet_with}}</td>
                               <td class="uneditable tag" >{{this.tag}}</td>
                               <td class="uneditable clientManagementTools" >
                                <i class='bx bxs-user-x' data-clientID="{{this.id}}" title="Delete client"></i>
                                <i class='bx bxs-edit' data-clientID="{{this.id}}" title="Edit client information"></i>
                                <i class='bx bxs-check-circle'data-clientID="{{this.id}}" title="Done"></i>
                                <i class='bx bx-task add-task' data-clientID="{{this.id}}" title="Add task related to a client"></i>
                                <i class='bx bxs-spreadsheet' data-clientID="{{this.id}}" title="Check all tasks"></i>
                                <input type="checkbox" class="clientIDs" value="{{this.id}}">
                               </td>
                               {{/each}}
                             </tr>
                        </tbody>
                {{else}}
                <h2 style="color: rgba(255, 255, 255, 0.5);">No clients yet</h2>
                {{/if}}
                </table>
            </div>
    </div>
</div>
<div class="dialogBox" id="dialogBox">
        <p>Delete client will permanently remove the client from the database,are you sure?
        </p>
        <div class="controls">
                <input type="button" value="Delete" id="delete">
                <input type="button" value="Cancel" id="cancel">
        </div>
</div>
<div class="direction">
        <i class='bx bx-arrow-to-top' title="go to the top"></i>
        <br>
        <i class='bx bx-arrow-from-top' title="go to the bottom"></i>
</div>
  
